.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
.fvl{float:left;}
.fvr{float:right;}
.webdisgn{position:relative;top:-20px;left:-15px;}
#ban{width:100%;}
a{
  color: #969696;
}
a:hover{
  color: #f86e4d;
}
body{
  color: #474747;
  background-color: #fff;
  font-family:"微软雅黑","Microsoft Yahei";
}
.wp{
  width: 1120px;
  margin: 0 auto;
}
#hd{
  padding: 0 0 8px 0;
  height:75px;
}

.hdr{
  position:absolute;
  color: #38ab8f;
  margin: 31px 0 0 0;
  width:410px; height:41px;
  left: 580px;
top: 0;
}
.logo{
  margin: 14px 0 0 0;
  display: inline-block;
}
.hdr .se{
  padding: 5px 4px 4px 28px;
  color: #38ab8f;
  margin: 0 5px 0 5px;
  display: inline-block;
	font-size:14px;
	font-weight:bold;
}
.hdr .ph_cs{
		float:right;
		height:41px;
		padding-left:47px;
		background:url(../../images/zh_cn/hus_phone.png) left center no-repeat;
		line-height:44px;
		margin:0 0 0 10px; position:relative; top:-5px;
		font-size:20px;
		color:#57a31a;
		font-weight:bold;
}

.hdr .se:hover{
  text-decoration: underline;
}
.hdr form{
  float: right;
  width: 192px;
  height: 26px;
  background: url(../../images/zh_cn/se-bg.gif) no-repeat left top;
  margin: 0 0 0 10px;
}
.hdr .inp{
  width: 100px;
  padding: 0 4px;
  height: 21px;
  line-height: 14px;
  line-height: 21px\9;
  float: left;
  margin: 2px 0 0 53px;
  border: none;
  outline: none;
}
.hdr .sub{
  width: 30px;
  height: 26px;
  border: 0;
  cursor: pointer;
  float: left;
  background: none;
}
.hdr .s1{
  background:#F56915 url(../../images/zh_cn/ic1.png) no-repeat 3px center;
	color:#fff;
	border-radius:4px;
}
.hdr .s2{
  background:#63BA0D url(../../images/zh_cn/ic2.png) no-repeat 4px center;
	color:#fff;
	border-radius:4px;
	
}
#nv{
  background: #63ba0d;
  height: 34px;
  line-height: 34px;
}
#nv li{
  float: left;
}

#nv li a{
  color: #fff;
  font-size: 16px;
  float: left;
  text-align: center;
  width: 120px;
  font-family:'微软雅黑';
	}
#nv li.current a,#nv li a:hover{
 color:#27450a;
  background-color: #C0ED9C;
}
#nv li.curr >a{
 color:#fff;
  background-color: #63ba0d;
}
#fd{
  background:#57a31a url(../../images/zh_cn/fd.gif) repeat-x left top;
  overflow: hidden;
  color: #fff;
}
.fd-nv{
  height: 38px;
  line-height: 38px;
  text-align: center;
  position: relative;
  z-index: 10;
}
.fd-nv a{
  padding: 0 20px;
  font-size: 14px;
  background: url(../../images/zh_cn/line5.gif) no-repeat right center;
  color: #fff;
}
.fd-nv a:hover{
  text-decoration: underline;
}
.fd-nv a:last-child{
  background: none;
}
.fd-con{
position:relative;
  margin: 30px 0 0 0;
  overflow: hidden;
}
.fd-con dt{
  float: left;
  color: #fff;
  font-family:"微软雅黑","Microsoft Yahei";
  margin: 0 40px 0 0;
  text-align: right;
}
.fd-con dd{
  float: left;
}
.fd-con p{
  
  line-height: 30px;
  padding: 0 0 0 30px;
}
.fd-con strong{
  display: block;
  font-size: 24px;
}
.fd-con em{
  font-size: 14px;
}
.fd-con .s1{
	  padding: 0 0 0 0px;
		color:#fff;
		
}
.fd-con .s1 a{
		color:#fff;
line-height:1;
}
.fd-con .s1 a i{
		color:#fff;
position:relative;
top:-8px;
text-decoration:none;
font-style:normal;
}
.fd-con .s2{
  background: url(../../images/zh_cn/fd2.png) no-repeat left center;
}

.fd-con .s3{
  background: url(../../images/zh_cn/fd3.png) no-repeat left center;
}

.fd-con .s4{
  background: url(../../images/zh_cn/fd4.png) no-repeat left center;
}
.fd-con .s5{
padding: 0 0 0 2px;
}
.fd-con .s6{
padding: 0 0 0 2px;
}
.fd-con .erweima{
position:absolute;
top: 12px;
left: 469px;
text-align:center;
}
#fd .wp{
  position: relative;
}
#fd .fd-map{
  position: absolute;
  right: 0;
  top: 10px;
}
.fd-link{
  border-top: 1px solid #3B9735;
  padding: 7px 0 10px 0;
  color: #357708;
  margin: 10px 0 0 0;
  overflow: hidden;
}
.fd-link dt{
  float: left;
  font-family:"微软雅黑","Microsoft Yahei";
  font-size: 22px;
  margin: 0 43px 0 0;
  color: #357708;
}
.fd-link a{
  color: #357708;
}
.fd-link dd{
  margin: 8px 0 0 0;
}
.fd-link a:hover{
  color: #fff;
}
#nv li a{
/*   -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear; */
}

/* #nv {position:relative;}
#nv .libar{width:100%; height:34px; background:#57A31A; left:0; top:46px; position:absolute; z-index:1111; display:none;}
#nv li {position:relative;}
#nv li .bar {display:none;}
#nv li .bar dl{margin-top:8px; white-space:nowrap;}
#nv li .bar dd{float:left; color:#DDEDD1; padding:0 20px; text-align:center; display:inline; }
#nv li .bar dd a{font-size:12px; color:#fff;  display:inline!important; line-height:20px;}
#nv li .bar dd a:hover{background:none; border-bottom:1px solid #fff;}
#nv li .bar{position:absolute; z-index:1112;  top:46px;  width:auto;}
#nv li .bar.flv{left:-2px;}
#nv li .bar.frv{right:-2px;} */

#nv {position:relative;}
#nv .libar{width:100%; height:20px; background:#C0ED9C; left:0; top:34px; position:absolute; z-index:1111; display:none;}
#nv li {position:relative;}
#nv li a.hover{ color:#27450a;
  background-color: #C0ED9C; }
#nv li .bar {display:none;white-space:nowrap;}
#nv li .bar a{font-size:12px; color:#27450a;  display:inline!important; line-height:14px; float:none;  margin:0 12px; position:relative;}
#nv li .bar a:after{position:absolute; content:'';
width:1px; height:10px; background:#000; right:-15px; top:4px;
}
#nv li .bar a:hover{background:none; border-bottom:1px solid #27450a;}
#nv li .bar{position:absolute; z-index:1112;  top:28px;  width:auto;}
#nv li .bar.flv{left:-2px;}
#nv li .bar.frv{right:-2px;} 


/* iCheck plugin Flat skin, red
----------------------------------- */
.icheckbox_flat-red,
.iradio_flat-red {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../../images/zh_cn/red2.gif) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-red {
    background-position: 0 0;
}
    .icheckbox_flat-red.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-red.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-red.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-red {
    background-position: -91px -1px;
}
    .iradio_flat-red.checked {
        background-position:-113px -1px;
    }
    .iradio_flat-red.disabled {
     background-position: -132px 0;
        cursor: default; 
    }
    .iradio_flat-red.checked.disabled {
        background-position: -154px 0;
    }


/* iCheck plugin Flat skin, pink
----------------------------------- */
.icheckbox_flat-pink,
.iradio_flat-pink {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../../images/zh_cn/pink.gif) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-pink {
    background-position: 0 2px;
}
    .icheckbox_flat-pink.checked {
        background-position: -20px 2px;
    }
    .icheckbox_flat-pink.disabled {
        background-position: -44px center;
        cursor: default;
    }
    .icheckbox_flat-pink.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-pink {
    background-position: -88px 0;
}
    .iradio_flat-pink.checked {
        background-position: -110px 0;
    }
    .iradio_flat-pink.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-pink.checked.disabled {
        background-position: -154px 0;
    }
/*2014-7-15 add new*/
.taocan li a{display:block; float:none!important; width:160px; height:160px; }
.list1-pz.taocan li a img{display:block;width:160px; height:160px;border-radius:0;	}
.taocan li .img{border-radius:0;}
.taocan li  .baojia{margin-top:5px;}
.taocan li {float:left; margin-bottom:15px!important;}
#taocandesp .left img{display:block;width:327px; height:327px; border:6px solid #63BA0D;}
#taocandesp .left {float:left;}
#taocandesp .right {float:right; width:380px; color:#7a7a7a; font-size:16px; font-weight:bold;}
#taocandesp .right h3{border-bottom:1px solid #D4D4D4; margin-bottom:10px;}
#tibar{background:#63BA0D; width:100%; height:40px; line-height:40px; font-size:16px; font-weight:bold; color:#fff; text-indent:1em; margin-top:20px;}
.content img{width:100%;}
.baojia i{font-style:normal; color:#FD7926; font-size:16px;}