body{
  font-family:"微软雅黑","Microsoft Yahei";
  background-color: #fff;
}
.solo-a{
overflow:hidden;
margin-top:-98px;
position:relative;
  height: 370px;
  background: url(../../images/zh_cn/bg2.gif) repeat left top;
}
.solo-a .wp{margin-top:90px; height:240px;}
.flexslider{
  background: none;
  background: url(../../../!/www.ruifox.com/resouce~css~images~bg_loading_anim.gif) center center no-repeat !important;     /*background: url(../../images/zh_cn/bg2.gif) repeat left top !important;*/
	z-index:444;
	
}
.list1{
width:1000px; height:240px;
  text-align: center;
  padding: 10px 0 0 0;
}
.list1 li{
  border-radius: 3px;

  position:relative;
  display: inline-block;
  width: 190px;
  height: 225px;
  margin: 0 20px 0 20px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d; 
  -ms-transform-style: preserve-3d; 
}


      /* START: Accommodating for IE */
      .list1 li:hover .back, .list1 li.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.list1 li:hover .front, .list1 li.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


    .flexslider {background:none!important;}
    .flexslider ul{ background: url(../../../!/www.ruifox.com/resouce~css~images~bg_loading_anim.gif) center center no-repeat !important;  }
    /* END: Accommodating for IE */


    .flipper {
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
      -ms-transition: 0.6s;

      -moz-transition: 0.6s;
      -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;

      transition: 0.6s;
      transform-style: preserve-3d;

      position: relative;
    }

    .front, .back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;

        -webkit-transition: 0.6s;
        -webkit-transform-style: preserve-3d;

        -moz-transition: 0.6s;
        -moz-transform-style: preserve-3d;

        -o-transition: 0.6s;
        -o-transform-style: preserve-3d;

        -ms-transition: 0.6s;
        -ms-transform-style: preserve-3d;

        transition: 0.6s;
        transform-style: preserve-3d;

      position: absolute;
      top: 0;
      left: 0;
	
    }

    .front {
      -webkit-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      z-index: 2;
     background-color: #fff;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 3px 3px #d7d2d2;
  -webkit-box-shadow: 3px 3px #d7d2d2;
  box-shadow: 3px 3px #d7d2d2;
		
		}

    .back {
		   
      -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
.list1 li b{
  display: inline-block;
  padding: 115px 0 0 0;
  width: 100%;
}
.list1 li span{
  font-family:"微软雅黑","Microsoft Yahei";
  font-size: 20px;
  color: #63ba0d;
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.list1 li a{
  float: left;
  /*height: 100%;*/
  height: 225px;
}
.list1 li .s1{
  background: url(../../images/zh_cn/FCW_01_03.png) no-repeat center 20px;
}
.list1 li .s2{
  background: url(../../images/zh_cn/person_warn.png) no-repeat center 20px;
}
.list1 li .s3{
  background: url(../../images/zh_cn/LDW.png) no-repeat center 20px;
}
.list1 li .s4{
  background: url(../../images/zh_cn/rw.png) no-repeat center 20px;
}
.list1 em{
  padding: 0 20px;
  display: inline-block;
}
.list1 .back a{
  background-color: #f86e4d;
}
.list1 .back em,.list1 .back span{
  color: #fff;
}
.list1 li .back b{
  background-position: center bottom;
}



.row1{
  background: url(../../images/zh_cn/bg3.jpg) no-repeat left top;
  height: 725px;
  -o-background-size: 100% 100%, auto;
  -moz-background-size: 100% 100%, auto;
  -webkit-background-size: 100% 100%, auto;
  background-size: 100% 100%, auto;
  overflow: hidden;
}
.t1{
  font-size: 38px;
  color: #626262;
  text-align: center;
  font-family:"微软雅黑","Microsoft Yahei";
  margin: 20px 0 40px 0;
}
.t1 em{
  color: #63ba0d;
  font-weight: bold;
}

.t1 span{
  font-size: 14px;
  text-transform: capitalize;
  display: block;
}
.row1 .t1{
  background: url(../../images/zh_cn/line2.png) no-repeat left center;
}
.row1 .col-l{
  width: 470px;
}
.row1 .col-r{
  width: 530px;
}
.m1{
border-radius: 5px;
  height: 140px;
  margin: 0 0 34px 0;
  padding: 10px;
  width: 430px;
}
.m1 dt{
  float: left;
  margin: 0 20px 0 0;
}
.m1 dt img{
  border-radius: 2px;
  width: 156px;
  height: 140px;
}
.m1 dd{
  float: left;
  width: 245px;
  position: relative;
}
.m1 .ar{
  position: absolute;
  right: -29px;
  top: 60px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #63ba0d;
  display: none;
  z-index: 20;
}
.m1.open  h3{
color:#fff;
}
.m1 h3{
  font-size: 18px;
  color: #63ba0d;
  border-bottom: 1px solid #c9c9c9;
  line-height: 18px;
  padding: 4px 0 8px 0;
  margin: 0 0 10px 0;
  font-weight: bold;
  font-family:"微软雅黑","Microsoft Yahei";
}
.m1 h6{
  text-align: right;
}
.more-a{
  display: inline-block;
  width: 120px;
  height: 33px;
  line-height: 33px;
  color: #fff;
  background-color: #ef6a4a;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background:#ef6a4a url(../../images/zh_cn/ar4.png) no-repeat 90px 7px;
  text-align: left;
  border-radius: 6px;
  text-indent: 14px;
  font-size: 12px;
	cursor:pointer!important;
}
.m1 p{
  line-height: 1.8;
}
.row1 .hover,.row1 .open{
  -webkit-filter: drop-shadow(3px 3px  #d7d2d2);
  -moz-filter: drop-shadow(3px 3px  #d7d2d2);
  -ms-filter: drop-shadow(3px 3px  #d7d2d2);
  -o-filter: drop-shadow(3px 3px  #d7d2d2);
  filter: drop-shadow(3px 3px  #d7d2d2);
  box-shadow: 3px 3px #d7d2d2;
  background-color: #63ba0d;
  color: #fff;
}
.row1 .hover .ar,.row1 .open .ar{
  display: block;
}
.row1 .hover h3,.row1 .hover h3 a,
.row1 .open h3,.row1 .open h3 a,
{
  color: #fff;
}
.row1 .hover .more-a,
.row1 .open .more-a,
.wrap .more-a:hover
{
  background-color:#ffffff;
  background-position: 90px -25px;
  background-repeat: no-repeat;
  color: #63ba0d;
}
.list2 li,.m1,/*.list1 li a,*/#nv li a{
/*   -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear; */
}
.list3 li,.list3 li h6 a,
.more-b,
.more-a
{
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.list2 li{
border-radius:5px;
  display: inline-block;
  width: 250px;
  text-align: center;
  margin: 0 28px 0 28px;
  height: 340px;
  padding: 0 10px;
}
.list2 .s1,
.list2 .s2,
.list2 .s3{
  display: inline-block;
  height: 160px;
  width: 100%;
}
.list2 .s1{
  background: url(../../images/zh_cn/ne1.png) no-repeat center 10px;
}
.list2 .s2{
  background: url(../../images/zh_cn/ne2.png) no-repeat center 10px;
}
.list2 .s3{
  background: url(../../images/zh_cn/ne3.png) no-repeat center 10px;
}
.list2 .hover .s1,
.list2 .hover .s2,
.list2 .hover .s3
{
  background-position: center -210px;
}
.more-b{
  display: inline-block;
  width: 120px;
  height: 33px;
  line-height: 33px;
  color: #fff;
  background-color: #ef6a4a;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #bfbfbf url(../../images/zh_cn/ar5.png) no-repeat 90px 7px;
  text-align: left;
  border-radius: 6px;
  text-indent: 14px;
  font-size: 12px;
}
.list2 .hover .more-b{
  background: #fff url(../../images/zh_cn/ar5.png) no-repeat 90px -35px;
  color: #f86e4d;
}
.list2 li p{
  height: 65px;
  padding: 20px 0;
  background: url(../../images/zh_cn/line3.png) no-repeat center top;
  margin: 0 0 20px 0;
}
.list2 li.hover{
  background-color: #f86e4d;
  color: #fff;
}
.solo-p{
  font-size: 10px;
  -webkit-text-size-adjust:none;
  -webkit-transform:scale(0.875);
  color: #222;
  margin: -20px auto 10px auto;
  width: 1200px;
}
.row3{
  background: url(../../images/zh_cn/bg4.jpg) no-repeat left top;
  overflow: hidden;
  -o-background-size: 100% 448px, auto;
  -moz-background-size: 100% 448px, auto;
  -webkit-background-size: 100% 448px, auto;
  background-size: 100% 448px, auto;
  height: 650px;
}
.list3{
  text-align: center;
}
.list3 li{
  display: inline-block;
  width: 310px;
  /*height: 350px;*/
  background-color: #fff;
  margin: 0 8px 0 8px;
  border-radius: 4px;
}
.list3 a img{
  width: 290px;
  height: 210px;
  margin: 10px auto 0 auto;
  display: block;
}
.list3 .con{
  padding: 10px;
}
.list3 h3{
  color: #63ba0d;
  font-size: 18px;
  font-family:"微软雅黑","Microsoft Yahei";
  font-weight: normal;
}
.list3 h4{
  font-size: 14px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  text-transform: capitalize;
}
.list3 p{
  margin: 10px 0 20px 0;  
  height: 30px;
}
.list3 .con{
  border: 1px solid #c2c2c2;
  border-top: none;
}
.list3 .hover {
  box-shadow: 0 0 0 4px #63ba0d;
  outline: 3px solid #63ba0d\9;
}
.list3  .hover .con{
  border: none;
}
.list3 .more-a{
  background:#fff url(../../images/zh_cn/ar6.png) no-repeat 80px 7px;
  width: 110px;
  border: 2px solid #63ba0d;
  color: #63ba0d;
  font-size: 14px;
}
.list3 .hover .more-a{
  background-color: #63ba0d;
  background-position: 80px -34px;
  color: #fff;
} 
.row4 .col-l{
  width: 395px;
}
.row4 .col-r{
  width: 495px;
}
.t2{
  font-size: 22px;
  font-weight: normal;
  color: #444;
  font-family:"微软雅黑","Microsoft Yahei";
  margin: 0 0 30px 0;
}

.t2 em{
  font-size: 14px;
  text-transform: capitalize;
}
.m2{
  overflow: hidden;
  margin: 0 0 20px 0;
}
.m2 dt{
  float: left;
  background-color: #63ba0d;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 50px;
  height: 56px;
  border-radius: 4px;
  line-height: 1;
  margin: 0 20px 0 0;
}
.m2 dt b{
  font-size: 28px;
  display: block;
  line-height: 1;
  margin: 6px 0 0 0;
}
.m2 h3 em{
  float: right;
  font-size: 12px;
  margin: 4px 0 0 0;
}
.m2 h3,.m3 h3{
  padding: 0 0 4px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px dashed #adadad;
}
.m2 dd{
  float: left;
}
.m2 h3 a,.m3 h3 a{
  font-family:"微软雅黑","Microsoft Yahei";
  color: #63ba0d;
  font-size: 16px;
}

.row4 .hover h3 a
{
  color: #ef6a4a;
}
.row4 .hover dt{
  background-color: #ef6a4a;
}
.m2 dd p a{
  float: right;
}
.m3{
  margin: 0 0 16px 0;
  overflow: hidden;
}
.m3 dt{
  float: left;
  width: 200px;
  margin: 0 20px 0 0;
}
.m3 dd{
  float: left;
  width: 260px;
}
.m3 dt img{
  width: 200px;
  height: 126px;
}
.m3 dd h3, .m3 dd h3 a{
  color: #63ba0d;
}

.m3 dd h3 a:hover{
  color: #f1836c;
}
.m3 p a{
  color: #63ba0d;
}
.m3 p a:hover{text-decoration: underline;}
.arrow{
  background: url(../../images/zh_cn/line6.gif) repeat-x left center;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0 0 20px 0;
}
.arrow a{
  background: url(../../images/zh_cn/ar7.png) no-repeat left top;
  display: inline-block;
  width: 55px;
  height: 55px;
}

#ban .flex-direction-nav {*height: 0;
  top: 50%;
  position: absolute;
  width: 100%;
}
#ban .flex { 
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  opacity: 1 ;text-decoration:none; display: block; width: 31px; height: 39px; margin: -44px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden;  cursor: pointer; }
#ban .flex-prev { left: 0; 
  background: url(../../images/zh_cn/nvl.gif) no-repeat left top;
}
#ban .flex-next { right: 0;
  background: url(../../images/zh_cn/nvr.gif) no-repeat left top;
 }
 #ban .flex:hover{
  background-position: 0 bottom;
}
#ban .flex-control-thumbs{
  margin: 0;
  bottom: auto;
  top: -30px;
  position: relative;
  z-index: 20;
  width: auto;
  text-align: center;
  padding: 5px;
  padding-left: 0;
  padding-top: 10px;
  opacity: 1;
}
#ban .flex-control-thumbs img{
  opacity: 1;
  width: 98px;
  height: 48px;
  display: block;
}
#ban .flex-control-thumbs li{
  width: 104px;
  display: inline-block;
  float: none;
  
}
#ban .banselt span{cursor:pointer;}
#ban .banselt img{
  box-shadow:0 0 0 5px #fff;
  margin-left: -4px;
  -moz-user-select     : none;
  -khtml-user-select   : none;
  -webkit-user-select  : none;
  -o-user-select       : none;
  user-select          : none;
}
#ban .banselt .current img,#ban .banselt .crf img{
  /*box-shadow: 0 0 0 6px #f86e4d;*/
  outline: 6px solid #f86e4d;
  box-shadow: 0 0 0 0 #fff;
  z-index: 10;
  position: relative;
  cursor:default;
}
#ban .datxt.crf{left:0;}
#ban .datxt.crf *{opacity:1;}
#ban li{

  position: relative;
	
}
#ban li a{cursor:default;}
#ban .datxt{
  position: absolute;
  top: 20%;
  width: 1000px;
  left: 0;
  margin-left: -500px;
}
#ban .datxt h3{
  font-size: 40px;
  color: #58A50F;
  position:relative;
  left:0;
  opacity:0;
}
#ban .datxt h4{
  font-size: 26px;
  color: #696967;
  margin: 10px 0 30px 0;
  left:0;
  position:relative;
  opacity:0;
}
#ban .datxt p{
color:#676767;
  width: 400px;
  line-height: 1;
font-size:14px;
opacity:0;
  margin: 0 0 20px 0;
}
.datxt h3,
.datxt h4,
.datxt p
{
  position: relative;
  top: 0;
  left: 0;
}
.datxt p{line-height:0.9!important;}
.datxt h6
{
  position: relative;
  opacity: 0;
  top: 0;
  left:0;
}
.datxt h6 a:hover{color:#fff;}
#ban {
    height: 594px;
    position: relative;
    width: 100%;
}
#ban #slide {
    width: 100%;
}
#slide {
    background: none repeat scroll 0 0 #fff;
    height: 594px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#slide li {
	list-style:none;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
#slide li.crf {
    display: block;
}
#slide li.crf .datxt {
    opacity: 1;
}
#slide img {
    height: 594px;
    left: 50%;
    margin-left: -960px;
    position: absolute;
	margin-top:-297px;
    top: 50%;
    width: 1920px;
}
#slide .datxt {
width:1000px;
margin:0 auto;
    position: relative;
}


.banselt{ margin: -117px auto 0;
    position: relative;
    text-align: center;
    width: 1000px;
    z-index: 10000;}