<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>好舒适暖通-成都博世地暖 菲斯曼地暖 大金空调 东芝中央空调</title>
  <meta name="keywords" content="成都暖通,成都地暖,成都中央空调,成都地暖公司,好舒适暖通,成都暖气片" />
  <meta name="description" content="成都好舒适暖通设备工程有限公司,新概念式从暖通设备,暖气安装,水暖安装,中央空调设备到净水设备,新风系统一体化解决方案提供商." />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../layouts/css/zh_cn/cui.css" />
  <link rel="stylesheet" href="../layouts/css/zh_cn/lib.css.v=1.1" />
      <link rel="stylesheet" href="../layouts/css/zh_cn/page.css" />
    <link rel="stylesheet" href="../layouts/css/zh_cn/metallic.css" />
     <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b71dab72a36cb69e9bc52c6fcbf2854b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
  <div id="hd">
    <div class="wp" style="position:relative;">
      <a href="../index.htm" class="logo"><img src="../layouts/images/zh_cn/logo.png" alt=""></a>
      <div class="hdr">	
        <a href="index.htm" class="se s1">舒适体验</a> | <a href="../apply/index.htm" class="se s2">快速报价</a><div class="ph_cs">028-85441234</div>
      </div>
    </div>
  </div>
  <div id="nv">
    <div class="wp">
      <ul class="clearfix">
        <li ><a href="../index.htm">首页</a></li>
                                                                    <li ><a  href="../aboutus/introduct/index.htm">关于我们</a>
							<div class="bar flv">
								 								 									<a href="../aboutus/introduct/index.htm">公司介绍</a>
																 									<a href="../aboutus/culture/index.htm">企业文化</a>
																 									<a href="../aboutus/service/index.htm">好舒适服务</a>
																 									<a href="../aboutus/contact/index.htm">联系我们</a>
																 									<a href="../aboutus/honor/index.htm">荣誉资质</a>
															</div>
					
					</li>
                                                            <li ><a  href="../category/72/1.html">产品中心</a>
							<div class="bar flv">
								 								                                       									<a href="../category/72/1.html">采暖系统</a>
																                                       									<a href="../category/14/1.html">空调系统</a>
																                                       									<a href="../category/17/1.html">净水热水</a>
																                                       									<a href="../product/wind/dakin/index.htm">新风除尘</a>
															</div>
					
					</li>
                                                            <li ><a  href="../solution/temp/index.htm">解决方案</a>
							<div class="bar flv">
								 								 									<a href="../solution/temp/index.htm">舒适的温度</a>
																 									<a href="../solution/water/index.htm">干净的水</a>
																 									<a href="../solution/air/index.htm">清新的空气</a>
															</div>
					
					</li>
                                                            <li ><a  href="../case/warm/index.htm">工程案例</a>
							<div class="bar flv">
								 								 									<a href="../case/warm/index.htm">采暖系统</a>
																 									<a href="../case/aircondition/index.htm">空调系统</a>
																 									<a href="../case/water/index.htm">净水热水</a>
																 									<a href="../case/wind/index.htm">新风除尘</a>
															</div>
					
					</li>
                                                                    <li  ><a href="../news/company/index.htm">资讯中心</a>
              <div class="bar frv">
                               			                                 <a href="../news/company/index.htm">公司动态</a></dd>
                			                                 <a href="../news/workon/index.htm">行业新闻</a></dd>
                			                                 <a href="../news/jingyingxiangmu/index.htm">经营项目</a></dd>
                                         </div>
          
          </li>
                                                            <li  ><a href="../category/137/1.html">优惠套餐</a>
              <div class="bar frv">
                               			             				            				                              <a href="../category/137/1.html">采暖套餐</a></dd>
                			             				            				                              <a href="../package/zykttc/kt/glkt/index.htm">中央空调套餐</a></dd>
                			             				            				                              <a href="../category/143/1.html">净水套餐</a></dd>
                                         </div>
          
          </li>
                                                            <li  ><a href="../learn/buy/warm/index.htm">好舒适课堂</a>
              <div class="bar frv">
                               			             				            				                              <a href="../learn/buy/warm/index.htm">选购篇</a></dd>
                			             				            				                              <a href="../learn/struct/warm/index.htm">安装篇</a></dd>
                			             				            				                              <a href="../learn/using/warm/index.htm">使用篇</a></dd>
                			             				            				                              <a href="../learn/protect/warm/index.htm">维保篇</a></dd>
                                         </div>
          
          </li>
                                    </ul>
    </div>
		<div class="libar"></div>
  </div>
	<div id="ban-inner" style='background: url("http://www.cd-hss.com/uploadfile/2014/0522/20140522100208619.jpg") no-repeat scroll center top / 100% 200px rgba(0, 0, 0, 0);'>
    <div class="wp">
      <div class="sy-mt">
        <h2>舒适体验</h2>
        <h4>自然　享受好舒适暖通带给你的健康生活<em>Naturally enjoy good comfort HVAC bring your healthy life</em></h4>
      </div>
    </div>
  </div><div class="h20"></div>
  <div id="bd">
    <div class="wp">
      <div class="my-grey-box">
        <div class="cur"><p>位置：<a href="../index.htm">首页</a>><a href="index.htm">舒适体验</a></p><h3>舒适体验</h3></div>
        <div class="experience-form">
          <form action="http://www.cd-hss.com/index.php?module=formguide&controll=index&action=show&formid=21" method="post" class="registerform">
            <p class="green">欢迎来到好舒适暖通系统体验报名通道！</p>
            <p>为了满足您的体验需求，我们提供成都地区免费舒适系统体验服务，为合理安排工程师的时间，避免冲突，请您配合我们填写完整的体验登记表，我们的工程师将在1个小时之内与您联系确认体验时间，并在体验后2天内完成您家舒适系统方案的详细设计。</p>
            <table class="order-table1">
              <tbody><tr>
                <th>姓名：</th>
                <td><input type="text" errormsg="姓名为2-6位字符，中文字符算两个字符！" nullmsg="请输入姓名！" datatype="*2-6" class="inputxt" name="info[name]" placeholder="name" value=""><span class="Validform_checktip">（必填）</span></td>
              </tr>
              <tr>
                <th>手机：</th>
                <td><input type="text" errormsg="请输入正确的电话号码！" nullmsg="请输入电话号码！" datatype="m" class="inputxt" name="info[phone]" placeholder="phone" value=""><span class="Validform_checktip">（必填）</span></td>
              </tr>
              <tr>
                <th>预约时间：</th>
                <td style="position: relative;">
                  <input type="text" nullmsg="请选择预约时间！" datatype="*8-11" readonly="true" name="info[position]" placeholder="Appointment" value="" class="inp-outer">
                  <!-- <script src="http://www.cd-hss.com/layouts/js/zh_cn/Calendar_js.js" type="text/javascript"></script> -->
                  <span class="Validform_checktip">（必填）</span>
                </td>
              </tr>
              <tr class="space-tr">
                <th></th><td></td>
              </tr>
              <tr class="dot-tr">
                <th></th><td></td>
              </tr>
              <tr>
                <th>系统要求：</th>
                <td>
                  <label for="i1" class="checkbox"><input id="i1" type="checkbox" name="info[checkes][]" value="采暖系统" ><span class="sun-ico">采暖系统</span></label>
                  <label for="i2" class="checkbox"><input id="i2" type="checkbox" name="info[checkes][]" value="空调系统" ><span class="air-ico">空调系统</span></label>
                  <label for="i3" class="checkbox"><input id="i3" type="checkbox" name="info[checkes][]" value="新风系统" ><span class="wind-ico">新风系统</span></label>
                  <label for="i4" class="checkbox"><input id="i4" type="checkbox" name="info[checkes][]" value="水处理系统" ><span class="water-ico">水处理系统</span></label>
                  (可多选)
                </td>
              </tr>
              <tr>
                <th>体验人数：</th>
                <td>
                  <label class="my-radiobox" for="r1"><input id="r1" name="info[radio]" type="radio"  value="1-3人">1-3人</label>
                  <label class="my-radiobox" for="r2"><input id="r2" name="info[radio]" type="radio"  value="3-5人">3-5人</label>
                  <label class="my-radiobox" for="r3"><input id="r3" name="info[radio]" type="radio"  value="5-10人">5-10人</label>
                  <label class="my-radiobox" for="r4"><input id="r4" name="info[radio]" type="radio"  value="10人以上">10人以上</label>
                </td>
              </tr>
              <tr>
                <th></th>
                <td><input class="subtijiao" type="submit" name="dosubmit" /><!-- <a href="javascript:void(0);" class="more-e" id="sub-form">提交</a> --></td>
              </tr>
            </tbody></table>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="h"></div>
<div id="fd">
    <div class="wp">
      <div class="fd-nv">
                                                            <a class="current" href="../aboutus/introduct/index.htm">关于我们</a>
                                                            <a class="current" href="../category/72/1.html">产品中心</a>
                                                            <a class="current" href="../solution/temp/index.htm">解决方案</a>
                                                            <a class="current" href="../case/warm/index.htm">工程案例</a>
                                                                    <a class="current" href="../news/company/index.htm">资讯中心</a>
                                                            <a class="current" href="../category/137/1.html">优惠套餐</a>
                                                            <a class="current" href="../learn/buy/warm/index.htm">好舒适课堂</a>
                                    </div>
      <dl class="fd-con">
        <dt><strong>联系我们</strong><em>contact</em></dt>
        <dd>
          <p class="s1"><a target="_blank" href="../!/wpa.qq.com/msgrd.v=3-uin=936958770-site=qq-menu=yes.htm"><img border="0" src="../!/wpa.qq.com/41.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/><i>官方QQ：936958770</i></a></p>
          <p class="s2">成都好舒适暖通设备工程有限公司 </p>
          <p class="s3">电话：028-85441234 &nbsp;&nbsp;&nbsp;&nbsp; 028-85440139</p>
          <p class="s4">电子邮件：cdhss@vip.163.com</p>
          <p class="s5">公司地址：四川省成都市武侯区二环路西一段6号成都 <br />红星美凯龙环球家居设计博览中心B区8层0835-0836号</p>
					<p class="s6">备案编号：蜀ICP备13021292号&nbsp;&nbsp;<script language="javascript" type="text/javascript" src="http://js.users.51.la/17810366.js"></script>
<noscript><a href="../!/www.51.la/.17810366.htm" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="../!/img.users.51.la/17810366.asp.jpg" style="border:none" /></a></noscript></p>
          <div class="erweima">
						<img src="../layouts/images/zh_cn/weixinerweima.jpg" alt="" /><br />请关注官方微信!
					</div>
        </dd>
      </dl>
      <a href="../category/6/1.html"><img src="../layouts/images/zh_cn/map.png" alt="" class="fd-map"></a>
      <dl class="fd-link c">
     <dt>友情链接</dt> 
        <dd>
          		      		        <a href="../!/www.cddnw.com/index.htm" target="_blank">成都地暖网</a>
		      		        <a href="../index.htm" target="_blank">成都地暖</a>
		      		        <a href="../!/www.terung.cn/index.htm" target="_blank">成都地暖安装</a>
		      		        <a href="../!/scqgnt.com/index.htm" target="_blank">其高暖通</a>
		      		              </dd> <div class="fvr webdisgn"><a href="../!/www.ruifox.com/index.htm" target="_blank" title="网站建设">网站建设</a>：<a href="../!/www.ruifox.com/index.htm" target="_blank" title="锐狐网络">锐狐网络</a></div>
      </dl> 
    </div>
  </div>
  <script type="text/javascript" src="http://www.cd-hss.com/layouts/js/zh_cn/jquery.js"></script>
  <script type="text/javascript" src="http://www.cd-hss.com/layouts/js/zh_cn/jquery.ad-gallery.min.js"></script>
  <script type="text/javascript" src="http://www.cd-hss.com/layouts/js/zh_cn/jquery.SuperSlide.js"></script>
  <script type="text/javascript" src="http://www.cd-hss.com/layouts/js/zh_cn/lib.js"></script>
	<script type="text/javascript">
		$("#nv li").hover(function(){
				var index=$(this).index();
				$("#nv li.current").addClass("curr");
				if(index==0) return;
				$(".bar",this).show();
				$("#nv .libar").show();
				$(">a",this).addClass("hover");
		},function(){
				$("#nv li.current").removeClass("curr");	
				$(".bar",this).hide();
				$("#nv .libar").hide();
				$(">a",this).removeClass("hover");
		})
		
		$("#nv li:eq(0)").hover(function(){
		    $("#nv li.current").addClass("curr");
		},function(){
				$("#nv li.current").removeClass("curr");	
		})

	
	</script>
   

</body>
</html><script type="text/javascript" src="http://www.cd-hss.com/layouts/js/zh_cn/Validform_v5.3.min.js"></script>
<script type="text/javascript" src="http://www.cd-hss.com/layouts/js/zh_cn/zebra_datepicker.js"></script>
<script type="text/javascript" src="http://www.cd-hss.com/layouts/js/zh_cn/icheck.min.js"></script>
<script type="text/javascript">
/*$(function(){

		var days = ['周日', '周一', '周二', '周三', '周四', '周五', '周六'];
		var months = ['一月', '二月', '三月', '四月', '五月','六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
		$('.inp-outer').Zebra_DatePicker({
			months: months,
			days: days,
			show_icon: false,
			show_clear_date: false,
			show_select_today: false,
			offset: [-162,280]

		$(".registerform").Validform({
			tiptype:function(msg,o,cssctl){
				// msg：提示信息;
				// o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
				// cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
				if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
					var objtip=o.obj.siblings(".Validform_checktip");
					cssctl(objtip,o.type);
					objtip.text(msg);
				}
			}
		});
			
	});
*/
		$(function(){

			$('input').iCheck({
			  checkboxClass: 'icheckbox_flat-red',
			  radioClass: 'iradio_flat-red',
			  labelHover: false,
			  cursor: true
			});

		var days = ['周日', '周一', '周二', '周三', '周四', '周五', '周六'];
		var months = ['一月', '二月', '三月', '四月', '五月','六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
		$('.inp-outer').Zebra_DatePicker({
			months: months,
			days: days,
			show_icon: false,
			show_clear_date: false,
			show_select_today: false,
			offset: [-162,280]
		});

		$(".registerform").Validform({
			tiptype:function(msg,o,cssctl){
				// msg：提示信息;
				// o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
				// cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
				if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
					var objtip=o.obj.siblings(".Validform_checktip");
					cssctl(objtip,o.type);
					objtip.text(msg);
				}
			}
		});
		$('input[name="info[checkes][]"]').on('ifClicked', function(){
	
			if($(this).parent().hasClass("checked")){
				$(this).removeAttr("checked");
			}
			else{
				$(this).attr("checked","checked");
			}
		});
	});



</script>